<ion-view title="Gym" id="page9" style="background-color:#FFFFFF;">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="gym-card24">
            <ion-item class="item-avatar" id="gym-list-item24">
                <img src="img/sport-facilities.jpg">
                <h2>Be Stronger</h2>
                <p>UQ Gym</p>
            </ion-item>
            <ion-item class="item-icon-left calm" id="gym-list-item25">
                <i class="icon ion-pin"></i>Meet at 101-21 St Lucia Campus</ion-item>
            <ion-item class="item-icon-left calm" id="gym-list-item26">
                <i class="icon ion-android-time"></i>20:00-10:00</ion-item>
            <div id="gym-markdown4" style="color:#000000;">
                <p>Random Text Random TextRandom TextRandom TextRandom TextRandom TextRandom TextRandom TextRandom TextRandom TextRandom TextRandom TextRandom Text</p>
            </div>
        </div>
        <button id="gym-button8" class="button button-calm  button-block">Interested</button>
        <button id="gym-button9" class="button button-balanced  button-block">Join</button>
    </ion-content>
</ion-view>