<ion-view title="Login" id="page4">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/Newzy_logo.jpgrawtrue" width="150" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 31px;"></div>
        <form id="login-form3" class="list">
            <ion-list id="login-list2">
                <label class="item item-input" id="login-input1">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="login-input2">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <a ui-sref="menu.home" id="login-button1" class="button button-dark  button-block">Log in</a>
            <a ui-sref="signup" id="login-button2" class="button button-positive  button-block button-clear">Or create an account</a>

        </form>

        <p align="center">
            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
            </fb:login-button>
        </p>
    </ion-content>
</ion-view>