<ion-view title="Profile" id="page5">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 19px;"></div>
        <div>
            <img src="img/profile-circle.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 19px;"></div>
        <ion-list id="profile-list9">
            <ion-item class="item-icon-left" id="profile-list-item8">
                <i class="icon ion-social-facebook"></i>Switch Facebook Account</ion-item>
            <ion-item class="item-icon-left" id="profile-list-item10">
                <i class="icon ion-email"></i>Email</ion-item>
            <ion-item class="item-icon-left" id="profile-list-item15">
                <i class="icon ion-ios-information"></i>Bio</ion-item>
            <ion-item class="item-icon-left" id="profile-list-item11">
                <i class="icon ion-android-phone-portrait"></i>Phone Number</ion-item>
            <ion-item class="item-icon-left" id="profile-list-item13">
                <i class="icon ion-transgender"></i>Gender</ion-item>
        </ion-list>

        <p>Facebook Logout. After logging out, you'll have to login again and provide your Facebook credentials.</p>
        <button class="btn btn-block" onclick="logout()">Logout</button>
        

    </ion-content>
</ion-view>