<ion-view title="RunTonight" id="page7" style="background-color:#FFFFFF;">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="runTonight-card21">
            <ion-item class="item-avatar" id="runTonight-list-item16">
                <img src="img/imagesqtbnANd9GcQnM8YVqprkuzz-QOK8uPe95s9sBOD-2TsOOvwXrc7-7Kb4ViDj">
                <h2>Join us and run together!</h2>
                <p>UQ Running club</p>
            </ion-item>
            <ion-item class="item-icon-left royal" id="runTonight-list-item17">
                <i class="icon ion-pin"></i>Meet at 101-21 St Lucia Campus</ion-item>
            <ion-item class="item-icon-left royal" id="runTonight-list-item21">
                <i class="icon ion-android-time"></i>20:00-10:00</ion-item>
            <div id="runTonight-markdown2" style="color:#000000;">
                <p>Random Text - *Signup to receive promotions and the latest news.</p>

                <p>Grab your friends and family and join us for the Happiest 5k on the Planet as a VIP!*</p>
            </div>
        </div>
        <button id="runTonight-button4" class="button button-royal  button-block">Interested</button>
        <button id="runTonight-button5" class="button button-balanced  button-block">Join</button>
    </ion-content>
</ion-view>