<ion-view title="UQSwimming" id="page8" style="background-color:#FFFFFF;">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="uQSwimming-card23">
            <ion-item class="item-avatar" id="uQSwimming-list-item9">
                <img src="img/Logo_Maroon_Blue_small.jpg">
                <h2>Swim</h2>
                <p>UQ Swimming club</p>
            </ion-item>
            <ion-item class="item-icon-left positive" id="uQSwimming-list-item22">
                <i class="icon ion-pin"></i>Meet at 101-21 St Lucia Campus</ion-item>
            <ion-item class="item-icon-left positive" id="uQSwimming-list-item23">
                <i class="icon ion-android-time"></i>20:00-10:00</ion-item>
            <div id="uQSwimming-markdown3" style="color:#000000;">
                <p>Random Text - ** Random Text Random TextRandom TextRandom TextRandom TextRandom TextRandom TextRandom TextRandom TextRandom TextRandom TextRandom Text</p>
            </div>
        </div>
        <button id="uQSwimming-button6" class="button button-positive  button-block">Interested</button>
        <button id="uQSwimming-button7" class="button button-balanced  button-block">Join</button>
    </ion-content>
</ion-view>